<div class="row">
    <div class="small-12 columns">
        <div id="container"></div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <form id="dynamicAdd">
            <input type="number" name="requests" required />
            <input type="date" name="date" required />

            <input type="radio" name="series" value="0"
                   checked="checked" />Human
            <input type="radio" name="series" value="1" />Good
            <input type="radio" name="series" value="2" />Bad
            <input type="radio" name="series" value="3" />Whitelist

            <button type="submit">
                Add
            </button>
        </form>
    </div>
</div>