.text-button {
	border: emCalc(2px) solid $primary-color;
	background-color: transparent;
    color: $primary-color;
	font-size: 1.25em;
    font-weight: bold;
    margin-top: emCalc(15px);
    margin-bottom: 0;
	padding: emCalc(5px);

}