html {
    background-color: #E0E0E0;
    background-image: url("/images/bright-squares.png");
    margin-top: emCalc(25px);
}

.app-heading {
	border-bottom: 3px dotted #2BA6CB;
	margin-bottom: emCalc(15px);

	span {
		color: $app-heading-alt-color;
	}
}

.view-background {
    background-color: $view-bg;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .098), -3px 3px 3px 3px rgba(0, 0, 0, .098);
    height: 90%;
    padding: emCalc(30px) emCalc(50px);

    @media #{$small-only} {
        padding: emCalc(10px) emCalc(10px);
    }
}
